.setup_complete
*.pyc
__pycache__/
db.sqlite3
/static/
/media/
/.env
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.coverage
htmlcov/
node_modules/
.env.local
.env.dev
/venv/
/env/
/*.sqlite3
*.db
*.pyo
*.idea/
*.vscode/
*/__pycache__/
assets/
.django_tailwind_cli/
Proyecto/preguntas_img/
Proyecto/theme/static/css/dist/styles.css
/Proyecto/theme/static_src/package-lock.json